a {
    transition: all 200ms ease;
}

button,
span,
svg,
use,
a,
div {
    &:focus {
        outline: none;
    }
}

.btn {
    font-size: 18px;
    line-height: 22px;
    padding: 13px 50px;
    border-radius: 32px;
    color: $white;
    font-family: $font-family-base;
    font-weight: bold;
    text-decoration: none;
    box-shadow: $box-shadow;
    transition: all 300ms ease;
    cursor: pointer;

    &:hover {
        box-shadow: $box-shadow-lg;
    }

    //Size
    &.btn-lg {
        font-size: 16px;
        line-height: 19px;
        padding: 12px 30px;

        @include media-breakpoint-up(sm) {
            padding: 20px 40px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &.btn-xs {
        font-size: 12px;
        line-height: 15px;
        padding: 4px 30px;
        font-weight: normal;
    }

    &.btn-block {
        display: block;
        text-align: center;
    }

    //Color
    &.btn-primary {
        background-color: $primary;

    }

    &.btn-secondary {
        background-color: $secondary;
    }

    &.btn-white {
        background-color: $white;
    }

    //Fomat
    &.btn-circle {
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 100%;
    }

    &.btn-circle-md {
        width: 44px;
        height: 44px;
        padding: 0;
        border-radius: 100%;
    }

    &.btn-circle-lg {
        width: 64px;
        height: 64px;
        padding: 0;
        border-radius: 100%;
    }

    &.btn-circle-block {
        width: 100%;
        padding: 0 0 100% 0;
        display: block;
        border-radius: 100%;
        position: relative;

        img {
            width: 80%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            vertical-align: middle;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(sm) {
                width: initial;
            }
        }
    }

    &.btn-outline {
        border: 2px solid $gray-500;
        color: $gray-500;
        box-shadow: none;
    }

    // Specials
    &.btn-phone {
        font-size: 18px;
        line-height: 22px;
        padding: 13px;
        border-radius: 32px;
        color: $primary;
        font-family: $font-family-base;
        font-weight: bold;
        text-decoration: none;
        transition: all 300ms ease;
        box-shadow: none;
        cursor: pointer;

        .u-icon {
            // color: $dark;
            font-size: 22px;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    li {
        float: left;
        margin: 0 3px;

        button {
            color: transparent;
            width: 6px;
            height: 6px;
            line-height: 6px;
            border-radius: 100%;
            background-color: $gray-300;
            transition: all 200ms ease;
        }
    }

    li.slick-active button {
        background-color: $primary;
        width: 10px;
        height: 10px;
        line-height: 10px;
    }
}