.footer{
    .logoFooter{
        width: 92px;
    }
    p, address{
        font-family: $font-family-base;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        font-style: normal;
        @include media-breakpoint-up(md) {
            font-size: 12px;
            line-height: 26px;
        }
    }
    .footer_pages a{
        font-family: $font-family-base;
        font-weight: 300;
        font-size: 14px;
        line-height: 65px;
        font-style: normal;
        text-decoration: none;
        border-top: 1px solid $gray-300;
        border-bottom: 1px solid $gray-300;
        margin-top: -1px;
        background-image: url("../imgs/svgs/icons.svg#arrow");
        background-position: right 50%;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            font-size: 12px;
            line-height: 26px;
            border-top: none;
            border-bottom: none;
            margin-top: 0;
        }
    }
    .copyright{
        font-size: 14px;
    }
}