.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    &.active {
        @include media-breakpoint-up(sm) {
            position: fixed;
        }

        @include media-breakpoint-down(sm) {
            .menu_toggler {
                position: fixed;
                top: 15px;
                left: 15px;
            }

            .col:nth-child(2),
            .col:nth-child(3) {
                opacity: 0;
                transition: all 200ms ease;
            }
        }
    }

    .logo img {
        width: 66px;

        @include media-breakpoint-up(sm) {
            width: 192px;
        }
    }

    // .btn-phone {
    //     font-size: 18px;
    //     line-height: 22px;
    //     padding: 13px;
    //     // border-radius: 32px;
    //     color: $primary;
    //     font-family: $font-family-base;
    //     font-weight: bold;
    //     text-decoration: none;
    //     transition: all 300ms ease;
    //     // cursor: pointer;

    //     .u-icon {
    //         // color: $dark;
    //         font-size: 22px;
    //     }
    // }
}

.menu_toggler {
    text-decoration: none;
    font-size: 14px;
    transition: all 300ms cubic-bezier(.11, .45, .28, 1);

    ~.label-normal {
        display: none;
        font-weight: bold;
        font-size: 14px;

        @include media-breakpoint-up(sm) {
            display: block;
            opacity: 1;
        }
    }

    ~.label-close {
        display: none;
        font-weight: normal;
        color: $gray-500;
        font-size: 14px;

        @include media-breakpoint-up(sm) {
            display: none;
            opacity: 0;
        }
    }

    .u-icon {
        width: 32px;
        height: 32px;
    }

    .icon-close {
        display: none;
        opacity: 0;
    }

    .icon-hamburger {
        display: block;
        opacity: 1;
    }

    &.menu_close {
        margin: 20px;

        ~.label-normal {
            @include media-breakpoint-up(sm) {
                display: none;
                opacity: 0;
            }
        }

        ~.label-close {
            display: block;
            opacity: 1;
        }

        .icon-close {
            display: block;
            opacity: 1;
        }

        .icon-hamburger {
            display: none;
            opacity: 0;
        }
    }
}