.page {
    width: 100%;
    margin-left: 0;
    transition: all 150ms ease-in;

    &.collapsed {
        position: fixed;
        margin-left: 80vw;
        transition: all 150ms ease-out;

        @include media-breakpoint-up(sm) {
            margin-left: 36vw;
        }
    }
}