.sidePanel {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    transition: all 200ms ease;
    background-repeat: no-repeat;
    background-position-x: -22%;
    background-position-y: 83vh;
    background-image: url("../imgs/jackExpert.svg");
    background-size: 60%;
    transition: all 150ms ease;

    @include media-breakpoint-up(sm) {
        background-position-x: 0vw;
        background-position-y: 75vh;
        background-size: 67%;
        width: 36vw;
    }

    &.expanded {
        opacity: 1;
        background-position-y: 73vh;

        @include media-breakpoint-up(sm) {
            background-position-y: 65vh;
        }
    }

    .sidePanel_menu {
        li {
            font-size: 24px;
            line-height: 30px;

            a {
                color: $gray-300;
                display: block;
                position: relative;
                transition: all 200ms ease-out;

                .label {
                    display: block;
                    opacity: 1;
                    transition: all 200ms ease;
                }

                .label_cs {
                    display: none;
                    opacity: 0;
                    transition: all 200ms ease;
                }

                .bullet {
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: $orange;
                    border-radius: 100%;
                    top: 20px;
                    left: 0px;
                    opacity: 0;
                    transition: all 200ms ease;
                }

                &.active,
                &:hover {
                    color: $blue_dark;
                    padding-left: 32px;
                    transition: all 200ms ease-in;

                    .label {
                        display: none;
                        opacity: 0;
                        transition: all 200ms ease;
                    }

                    .label_cs {
                        display: block;
                        opacity: 1;
                        transition: all 200ms ease;
                    }

                    .bullet {
                        opacity: 1;
                        left: 5px;
                        transition: all 200ms ease-in 200ms;
                    }
                }
            }
        }
    }

    .sidePanel__socials {
        a:hover {
            color: $blue-dark;
            fill: $blue-dark;
            border-color: $blue-dark;
        }
    }

    h5 {
        font-size: 12px;
        line-height: 14px;
    }

    .copyright {
        position: absolute;
        bottom: 4%;
        left: 57%;

        @include media-breakpoint-up(sm) {
            left: 67%;
            bottom: 7%;
        }

        .sidePanel__language-controller {
            cursor: pointer;
            margin-bottom: 10px;
            margin-right: 10px;
            display: inline-block;
        }

        p {
            font-size: 10px;
            line-height: 13px;
            font-weight: 100;
            color: $blue-dark;
        }
    }
}