h1 {  
  color: $blue_dark;
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  @include media-breakpoint-up(md) {
    font-size: 72px;
    line-height: 70px;
  }
}
h2 {
  color: $blue_dark;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: 57px;
  }
}
h3 {
  color: $blue_dark;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 35px;
  }
}


h4 {
  color: $blue_dark;
  font-family: $font-family-base;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 24px;
  }
}
h5 {
  color: $blue_dark;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  @include media-breakpoint-up(sm) {
    font-size: 18px;
    line-height: 21px;
  }
}
p{
  color: $blue_dark;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 17px;
  line-height: 35px;
  @include media-breakpoint-up(sm) {
    font-size: 24px;
    line-height: 35px;
  }
}