.u-icon{
    /* Lets the icon inherit the text color. */
    fill: currentColor;
    
    /* Inherit the text’s size too. Also allows sizing
    the icon by changing its font-size. */
    width: 1em;
    height: 1em;
    
    /* Nice visual alignment for icons alongside text.
    (I got a few questions about this and: with most
    fonts and styles, this works better than just
    vertical-align:middle. Try it and see what you
    like best. */
    vertical-align: -0.15em;
    
    /* Paths and strokes that overflow the viewBox can
    show in IE. If you use normalize.css, it already
    sets this. */
    overflow: hidden;

}
.u_textUndecoration{
    text-decoration: none;
}
.u_overlay{
    mix-blend-mode: overlay;
}
.u_color{
    mix-blend-mode: color;
}
.u_multiply{
    mix-blend-mode: multiply;
}
.u_luminosity{
    mix-blend-mode: luminosity;
}
.u_rotate45{
    transform-origin: center;
    transform: rotate(45deg);
}
.u_rotate90{
    transform-origin: center;
    transform: rotate(90deg);
}
.u_rotate135{
    transform-origin: center;
    transform: rotate(135deg);
}
.u_rotate180{
    transform-origin: center;
    transform: rotate(180deg);
}
.u_rotate225{
    transform-origin: center;
    transform: rotate(225deg);
}
.u_rotate270{
    transform-origin: center;
    transform: rotate(270deg);
}