.solutions {
    .bg_illustrations {
        overflow: hidden;
    }

    .page {
        .menu_toggler {
            box-shadow: 0 none;
        }
    }

    .area-1 {
        .tool_brush {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.15;

            @include media-breakpoint-up(sm) {
                transform: translate(220%, 740%);
            }
        }

        .tool_brush02 {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(sm) {
                transform: translate(330%, 2220%);
            }
        }

        .tool_drilling {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-160%, 320%) scale(.65);
            opacity: 0.2;

            @include media-breakpoint-up(sm) {
                transform: translate(-360%, 210%);
                opacity: 0.15;
            }
        }

        .tool_drilling02 {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(sm) {
                transform: translate(-490%, 800%);
            }
        }

        .tool_pliers {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-135%, 70%) scale(0.7);
            opacity: 0.2;

            @include media-breakpoint-up(sm) {
                transform: translate(-360%, 150%);
                opacity: 0.15;
            }
        }

        .tool_pliers02 {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.15;

            @include media-breakpoint-up(sm) {
                transform: translate(820%, 170%);
            }
        }

        .tool_plumber {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(174%, 30%) scale(.65);
            opacity: 0.2;

            @include media-breakpoint-up(sm) {
                transform: translate(470%, 40%);
                opacity: 0.15;
            }
        }

        .tool_screwdriver {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(60%, 830%) scale(.7);
            opacity: 0.2;

            @include media-breakpoint-up(sm) {
                transform: translate(200%, 690%);
                opacity: 0.15;
            }
        }

        .tool_screwdriver02 {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            opacity: 0.15;

            @include media-breakpoint-up(sm) {
                transform: translate(-220%, 1450%) rotate(90deg);
            }
        }

        .tool_screwdriver03 {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(sm) {
                transform: translate(330%, 2750%);
            }
        }

        .tool_stilleto {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.15;

            @include media-breakpoint-up(sm) {
                transform: translate(-400%, 1010%);
            }
        }
    }

    .area-2 {
        .tool_plumber {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(sm) {
                transform: translate(820%, 290%);
            }
        }

        .tool_stilleto {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(40%, 3800%) scale(.65);

            @include media-breakpoint-up(sm) {
                transform: translate(-440%, 1640%);
            }
        }

        .tool_pliers {
            transform-origin: center;
            top: 0;
            left: 50%;
            transform: translate(-130%, 3110%) scale(.65);

            @include media-breakpoint-up(sm) {
                transform: translate(290%, 2230%);
            }
        }
    }

    .area-4 {
        background-color: $blue-vivid;
    }

    h1 {
        font-size: 40px;
        line-height: 42px;

        @include media-breakpoint-up(sm) {
            font-size: 48px;
            line-height: 57px;
        }
    }

    h2 {
        font-size: 17px;
        line-height: 30px;

        @include media-breakpoint-up(sm) {
            font-size: 24px;
            line-height: 35px;
        }
    }

    .categories {
        max-width: 720px;

        .category-icon {
            box-shadow: $box-shadow;
            width: 100%;
            padding: 0 0 100% 0;
            display: block;
            border-radius: 100%;
            position: relative;
            background-color: $white;
            transition: all 300ms ease;

            img {
                width: 80%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                vertical-align: middle;
                transform: translate(-50%, -50%);

                @include media-breakpoint-up(sm) {
                    width: initial;
                }
            }
        }
    }

    .clients {

        .container {
            position: relative;

            .slider_content {

                >div {
                    display: none;

                    &.slick-list {
                        display: block;
                    }
                }

                .slick-slide {
                    display: flex;
                    height: 150px;
                    align-items: center;
                }

                img {
                    mix-blend-mode: luminosity;
                    opacity: .7;
                    transition: all 200ms ease;
                    display: block;

                    &:hover {
                        mix-blend-mode: normal;
                        opacity: 1;
                    }
                }

                .slick-dots li {

                    button {
                        width: 3px;
                        height: 3px;
                        line-height: 3px;
                    }

                    &.slick-active {
                        button {
                            width: 10px;
                            height: 10px;
                            line-height: 10px;
                            margin: 0 2px;
                        }
                    }
                }
            }

            .slider_navigation {
                .back {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    .u-icon {
                        transform: rotate(0.5turn);
                    }
                }

                .forward {
                    position: absolute;
                    top: 50%;
                    right: 0;
                }
            }
        }
    }

    .s3 {

        h2 {
            font-size: 30px;
            line-height: 35px;

            @include media-breakpoint-up(sm) {
                font-size: 48px;
                line-height: 57px;
            }
        }

        h3 {
            font-size: 17px;
            line-height: 30px;

            @include media-breakpoint-up(sm) {
                font-size: 24px;
                line-height: 35px;
            }
        }

    }

    .s4 {
        h4 {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
        }

        h5 {
            font-size: 18px;
            line-height: 21px;
            font-weight: normal;

            @include media-breakpoint-up(sm) {
                font-size: 18px;
                line-height: 21px;
            }
        }

        p {
            font-size: 14px;
            line-height: 25px;

        }

        .cardImage {
            height: 200px;

            @include media-breakpoint-up(sm) {
                margin-top: 30px;
                // height: 345px;
                // background-color: $white;
                // box-shadow: $box-shadow-sm;
            }
        }

        .cardImage2 {
            padding-bottom: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;

            @include media-breakpoint-up(sm) {
                padding-bottom: 0;
                height: 460px;
                box-shadow: $box-shadow-sm;
            }

            img {
                position: absolute;
                bottom: 0;
                width: auto;
                height: 90%;
            }

            .jackToutFaire {
                width: 110%;
                height: auto;
                bottom: -110px;
                left: -32px;

                @include media-breakpoint-up(sm) {
                    width: auto;
                    height: 130%;
                    bottom: -133px;
                    left: -112px;
                }
            }
        }

        .card {
            padding-bottom: 100%;
            height: auto;

            @include media-breakpoint-up(sm) {
                padding-bottom: 0;
                height: 460px;
                box-shadow: $box-shadow-sm;
            }
        }
    }

    .testimony {
        position: relative;
        top: -280px;
        margin-bottom: -280px;

        @include media-breakpoint-up(sm) {
            top: -166px;
            margin-bottom: -180px;
        }

        .slider>div {
            display: none;

            &.slick-list {
                display: block;
            }
        }

        .container {
            position: relative;

            .slider_content {
                .testimony_author {

                    img {
                        // width: 100px;
                        // height: 100px;
                        // border-radius: $border-radius-xl;

                        @include media-breakpoint-up(sm) {
                            // width: 180px;
                            // height: 180px;
                        }
                    }

                    h3,
                    p {
                        font-size: 14px;
                        line-height: 21px;

                        @include media-breakpoint-up(sm) {
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                }

                .testimony_content {
                    h2 {
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;

                        @include media-breakpoint-up(sm) {
                            font-size: 24px;
                            line-height: 29px;
                            text-align: left;
                        }
                    }

                    p {
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;

                        @include media-breakpoint-up(sm) {
                            font-size: 14px;
                            line-height: 30px;
                            text-align: left;
                            margin-left: 15px;
                        }
                    }
                }

                .testimony_rating {
                    li {
                        font-size: 18px;
                    }
                }
            }

            .slider_navigation {
                .back {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    .u-icon {
                        transform: rotate(0.5turn);
                    }
                }

                .forward {
                    position: absolute;
                    top: 50%;
                    right: 0;
                }
            }
        }
    }

    .products {
        p {
            font-size: 14px;
            line-height: 30px;
            color: $text-muted;

            @include media-breakpoint-up(md) {
                font-size: 14px;
                line-height: 30px;
            }
        }

        .productA {
            height: 350px;
            z-index: 1;

            p {
                color: $text-muted;
            }

            @include media-breakpoint-up(md) {
                margin-left: 20px;
                background-color: $blue-dark;
                box-shadow: $box-shadow-lg;

                img {
                    width: 70%;
                }

                p {
                    color: $white;
                }
            }
        }

        .productB {
            height: 350px;
            z-index: 3;

            @include media-breakpoint-up(md) {
                margin-top: 70px;
                margin-left: -20px;
                background-color: $white;
                box-shadow: $box-shadow-lg;

                img {
                    width: 75%;
                }
            }
        }

        .productC {
            height: 350px;
            z-index: 2;

            @include media-breakpoint-up(md) {
                margin-top: 30px;
                margin-left: -20px;
                background-color: $primary;
                box-shadow: $box-shadow-lg;

                img {
                    width: 75%;
                }

                p {
                    color: $white;
                }
            }
        }

    }

    .jackmanager {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center top;
        background-image: url("../imgs/solutions/svgs/jackManager02.svg");
        background-size: 80%;

        @include media-breakpoint-up(md) {
            height: 350px;
            background-position: center top;
            background-size: 47%
        }
    }

    .subscriptionPlans {
        h4 {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            line-height: 25px;

        }

        .card {
            @include media-breakpoint-down(xs) {
                .plusContent {
                    display: none;
                    transition: all 200ms ease;
                }

                &.active {
                    .plusContent {
                        display: block;
                    }
                }
            }

            @include media-breakpoint-up(md) {
                box-shadow: $box-shadow-sm;
            }

            .hour {
                .number {
                    font-size: 24px;
                    line-height: 29px;
                }

                .legend {
                    font-size: 12px;
                    line-height: 14px;
                }
            }

            .credit {
                .number {
                    font-size: 24px;
                    line-height: 29px;
                }

                .legend {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }

        .rangeInput {
            width: 100%;
            position: relative;
            /* Width of the outside container */

            .steps {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 3px;
                z-index: 10;

                .step1 {
                    position: absolute;
                    left: 20%;
                    transform: translateX(-50%);
                    font-family: $font-family-base;
                    color: $green;
                    font-size: 14px;
                    line-height: 18px;

                    &::before {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 18px;
                        background-color: $gray-500;
                        margin-left: 49%;
                        margin-bottom: 10px;
                    }
                }

                .step2 {
                    position: absolute;
                    left: 48%;
                    transform: translateX(-50%);
                    font-family: $font-family-base;
                    color: $green;
                    font-size: 14px;
                    line-height: 18px;

                    &::before {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 18px;
                        background-color: $gray-500;
                        margin-left: 50%;
                        margin-bottom: 10px;
                    }
                }

                .step3 {
                    position: absolute;
                    left: 80%;
                    transform: translateX(-50%);
                    font-family: $font-family-base;
                    color: $green;
                    font-size: 14px;
                    line-height: 18px;

                    &::before {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 18px;
                        background-color: $gray-500;
                        margin-left: 49%;
                        margin-bottom: 10px;
                    }
                }
            }

            /* The slider itself */
            input {
                appearance: none;
                width: 100%;
                /* Full-width */
                height: 5px;
                /* Specified height */
                background: $gray-300;
                /* Grey background */
                outline: none;
                /* Remove outline */
                // opacity: 0.7;
                /* Set transparency (for mouse-over effects on hover) */
                // transition: opacity .2s;
                border-radius: 5px;
                position: relative;
                z-index: 20;
                cursor: pointer;

                &:hover {
                    // opacity: 1;
                    /* Fully shown on mouse-over */
                }

                background: -moz-linear-gradient(left, #f39a1b 49%, #dee2e6 50%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #f39a1b 49%, #dee2e6 50%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #f39a1b 49%, #dee2e6 50%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 25px;
                    /* Set a specific slider handle width */
                    height: 25px;
                    /* Slider handle height */
                    border-radius: 100%;
                    background: $white;
                    /* Green background */
                    cursor: grab;
                    /* Cursor on hover */
                    box-shadow: $box-shadow-sm;

                    &:active {
                        cursor: grabbing;
                    }
                }

                &::-moz-range-thumb {
                    width: 25px;
                    /* Set a specific slider handle width */
                    height: 25px;
                    /* Slider handle height */
                    background: $white;
                    /* Green background */
                    border-radius: 100%;
                    cursor: grab;
                    /* Cursor on hover */
                    box-shadow: $box-shadow-sm;

                    &:active {
                        cursor: grabbing;
                    }
                }
            }
        }

        .jackClassic02 {
            margin-top: -35px;
            z-index: 100;
            position: relative;
            height: 350px;
            background-repeat: no-repeat;
            background-position: left top;
            background-image: url("../imgs/solutions/svgs/jackClassic02.svg");
            // background-image: image-set(
            //     url("../imgs/solutions/jackClassic02.png") 1x,
            //     url("../imgs/solutions/jackClassic02@2x.png") 2x,
            //     url("../imgs/solutions/jackClassic02@3x.png") 3x
            // );
        }

        .jackCard02 {
            margin-top: -50px;
            z-index: 100;
            position: relative;
            height: 350px;
            background-repeat: no-repeat;
            background-position: center top;
            background-image: url("../imgs/solutions/svgs/jackCard02.svg");
            // background-image: image-set(
            //     url("../imgs/solutions/jackCard02.png") 1x,
            //     url("../imgs/solutions/jackCard02@2x.png") 2x,
            //     url("../imgs/solutions/jackCard02@3x.png") 3x
            // );
        }

        .expand {
            margin-top: -16px;
            z-index: 100;
            position: relative;
            font-size: 12px;
            line-height: 14px;

            .u-icon {
                transform: rotate(0.25turn);
                transition: all 300ms ease;
            }

            &.open {
                .u-icon {
                    transform: rotate(0.75turn);
                }
            }
        }
    }

    .stillHere {
        background-size: 160%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url("../imgs/solutions/svgs/stillHere.svg");

        // background-image: image-set(
        //     url("../imgs/solutions/stillHere.png") 1x,
        //     url("../imgs/solutions/stillHere@2x.png") 2x,
        //     url("../imgs/solutions/stillHere@3x.png") 3x
        // );
        @include media-breakpoint-up(md) {
            background-size: 100%;
        }
    }
}