.underConstruction{
    background-color: $blue_light;

    .logo img{
        width: 93px;
        @include media-breakpoint-up(sm) {
            width: 175px;
        }
    }

    .illustration {        
        height: 260px;
        background-repeat: no-repeat;
        background-position: -33% 100%,122% 55%;
        background-image: url("../imgs/underconstruction/Illustration_mobile.png"), url("../imgs/underConstruction/Illustration_mobile2.png");
        background-image: image-set(
            url("../imgs/underConstruction/Illustration_mobile.png") 1x,
            url("../imgs/underConstruction/Illustration_mobile@2x.png") 2x,
            url("../imgs/underConstruction/Illustration_mobile@3x.png") 3x
        ), image-set(
            url("../imgs/underConstruction/Illustration_mobile2.png") 1x,
            url("../imgs/underConstruction/Illustration_mobile2@2x.png") 2x,
            url("../imgs/underConstruction/Illustration_mobile2@3x.png") 3x
        );
        @include media-breakpoint-up(sm) {
            height: 534px;
            background-position: center bottom;
            background-image: url("../imgs/underConstruction/Illustration.png");
            background-image: image-set(
                url("../imgs/underConstruction/Illustration.png") 1x,
                url("../imgs/underConstruction/Illustration@2x.png") 2x,
                url("../imgs/underConstruction/Illustration@3x.png") 3x
            );
        }
    }

    .btn{
        width: 177px;
        @include media-breakpoint-up(sm) {
            width: 260px;
        }
    }
}