<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:url" content="https://mercijack.co/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Merci Jack - Vos locaux sont entre de bonnes mains" />
	<meta property="og:description" content="Contrôlez en temps réel la maintenance et les travaux de vos locaux" />
	<meta property="og:image" content="https://storage.googleapis.com/merci-jack/misc/social-banner.png" />

	<link rel="apple-touch-icon" sizes="57x57" href="imgs/favicon.ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="imgs/favicon.ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="imgs/favicon.ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="imgs/favicon.ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="imgs/favicon.ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="imgs/favicon.ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="imgs/favicon.ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="imgs/favicon.ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="imgs/favicon.ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="imgs/favicon.ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon.ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="imgs/favicon.ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon.ico/favicon-16x16.png">

	<link rel="manifest" href="manifest.json">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="css/main.min.css">

	<title>Merci Jack - Vos locaux sont entre de bonnes mains</title>
</head>

<body class="solutions">
	<div id="app">

		<div class="sidePanel bg-white position-fixed">
			<ul class="sidePanel_menu mt-18 mt-md-25 ml-8">
				<li><a :href="content.sidePanel.menu.item1.link" class="active py-2 font-weight-bold u_textUndecoration">{{content.sidePanel.menu.item1.label}}<span
						 class="bullet"></span></a></li>
				<li><a :href="content.sidePanel.menu.item2.link" target="_blank" class="py-2 font-weight-bold u_textUndecoration"><span
						 class="label">{{content.sidePanel.menu.item2.label}}</span><span class="label_cs font-italic">{{content.sidePanel.menu.item2.label}}</span><span
						 class="bullet"></span></a></li>
				<li><a :href="content.sidePanel.menu.item3.link" class="py-2 font-weight-bold u_textUndecoration"><span class="label">{{content.sidePanel.menu.item3.label}}</span><span
						 class="label_cs font-italic">{{content.sidePanel.menu.comingSoon}}</span><span class="bullet"></span></a></li>
				<!-- <li><a :href="content.sidePanel.menu.item4.link" class="py-2 font-weight-bold u_textUndecoration"><span class="label">{{content.sidePanel.menu.item4.label}}</span><span
						 class="label_cs font-italic">{{content.sidePanel.menu.comingSoon}}</span><span class="bullet"></span></a></li> -->
			</ul>
			<h5 class="text-gray font-weight-normal ml-8 mt-8">{{content.sidePanel.contacts.title}}</h5>
			<ul class="sidePanel__socials ml-8 mt-3">
				<li class="float-left mr-2">
					<a :href="content.sidePanel.contacts.facebook" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
					 target="_blank">
						<svg aria-hidden="true" class="u-icon">
							<use xlink:href="imgs/svgs/icons.svg#facebook"></use>
						</svg>
					</a>
				</li>
				<li class="float-left mr-2">
					<a :href="content.sidePanel.contacts.twitter" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
					 target="_blank">
						<svg aria-hidden="true" class="u-icon">
							<use xlink:href="imgs/svgs/icons.svg#twitter"></use>
						</svg>
					</a>
				</li>
				<li class="float-left mr-2">
					<a :href="content.sidePanel.contacts.instagram" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
					 target="_blank">
						<svg aria-hidden="true" class="u-icon">
							<use xlink:href="imgs/svgs/icons.svg#instagram"></use>
						</svg>
					</a>
				</li>
				<li class="float-left mr-2">
					<a :href="content.sidePanel.contacts.linkedin" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
					 target="_blank">
						<svg aria-hidden="true" class="u-icon">
							<use xlink:href="imgs/svgs/icons.svg#linkedin"></use>
						</svg>
					</a>
				</li>
			</ul>
			<div class="copyright">
				<!-- <span @click="switchLanguage('French');" class="sidePanel__language-controller french"><img src="imgs/solutions/svgs/flag-french.svg"
					 class=""></span>
				<span @click="switchLanguage('English');" class="sidePanel__language-controller emglish"><img src="imgs/solutions/svgs/flag-english.svg"
					 class=""></span> -->
				<p>© Merci Jack.</p>
				<p>{{content.sidePanel.copyright}}</p>
			</div>
		</div>

		<div class="page">
			<section class="header container-fluid px-sm-12 pt-3 pt-sm-5">
				<div class="row align-items-center">
					<div class="col d-flex justify-content-start align-items-center">
						<button class="btn btn-primary btn-circle menu_toggler font-weight-bold text-dark wow animated fadeInLeft d-flex align-items-center mr-2"
						 data-wow-delay="150ms" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu">
							<svg aria-hidden="true" class="u-icon icon-hamburger">
								<use xlink:href="imgs/svgs/icons.svg#hamburger"></use>
							</svg>
							<svg aria-hidden="true" class="u-icon icon-close ">
								<use xlink:href="imgs/svgs/icons.svg#close"></use>
							</svg>
						</button>
						<span class="label-normal wow animated fadeIn">{{content.header.menu.labelToOpen}}</span>
						<span class="label-close wow animated fadeIn">{{content.header.menu.labelToClose}}</span>
					</div>
					<div class="col d-flex justify-content-center">
						<a href="#" class="logo wow animated zoomIn">
							<img src="imgs/svgs/MerciJackHorzontal.svg" alt="Merci Jack">
						</a>
					</div>
					<div class="col d-flex flex-wrap justify-content-end">
						<a :href="'tel:'+content.header.phoneNumber" class="d-none d-lg-block btn btn-phone wow animated fadeInRight"
						 data-wow-delay="250ms" target="_blank">
							<svg aria-hidden="true" class="u-icon">
								<use xlink:href="imgs/svgs/icons.svg#phone"></use>
							</svg> {{content.header.phoneNumber}}</a>
						<a :href="content.header.cta.mobile.link" class="d-block d-sm-none font-weight-bold text-secondary wow animated fadeInRight"
						 data-wow-delay="150ms" target="_blank">{{content.header.cta.mobile.label}}</a>
						<a :href="content.header.cta.desktop.link" class="d-none d-sm-block btn btn-secondary ml-4 wow animated fadeInRight"
						 data-wow-delay="150ms" target="_blank">{{content.header.cta.desktop.label}}</a>
					</div>
				</div>
			</section>

			<div class="area-1 bg-light position-relative pb-70 pb-md-60">

				<div class="bg_illustrations position-absolute w-100 h-100">
					<img src="imgs/solutions/svgs/tools/brush.svg" class="tool_brush position-absolute d-none d-md-block u_luminosity">
					<img src="imgs/solutions/svgs/tools/drilling.svg" class="tool_drilling position-absolute u_luminosity">
					<img src="imgs/solutions/svgs/tools/pliers.svg" class="tool_pliers position-absolute u_luminosity">
					<img src="imgs/solutions/svgs/tools/pliers2.svg" class="tool_pliers02 position-absolute d-none d-md-block u_luminosity">
					<img src="imgs/solutions/svgs/tools/plumber.svg" class="tool_plumber position-absolute u_luminosity">
					<img src="imgs/solutions/svgs/tools/screwdriver.svg" class="tool_screwdriver position-absolute u_luminosity">
					<img src="imgs/solutions/svgs/tools/screwdriver.svg" class="tool_screwdriver02 position-absolute d-none d-md-block u_luminosity">
					<img src="imgs/solutions/svgs/tools/stilleto.svg" class="tool_stilleto position-absolute d-none d-md-block u_luminosity">
					<img src="imgs/solutions/svgs/tools/drilling.svg" class="tool_drilling02 position-absolute d-none d-md-block">
					<img src="imgs/solutions/svgs/tools/screwdriver.svg" class="tool_screwdriver03 position-absolute d-none d-md-block">
					<img src="imgs/solutions/svgs/tools/brush.svg" class="tool_brush02 position-absolute d-none d-md-block">
				</div>

				<section class="categories container px-8 px-sm-0 pt-12 pt-sm-40 pb-sm-18">
					<div class="row">
						<div class="col">
							<h1 class="text-center mt-4 wow animated fadeInDown" data-wow-delay="300ms">{{content.section1.title}}</h1>
							<h2 class="text-center mt-2 mx-xs-2 wow animated fadeInDown" data-wow-delay="600ms">{{content.section1.subtitle}}</h2>
						</div>
					</div>
					<div class="row mx-2 mx-md-0">
						<div class="col-4 col-sm-2 px-3 mt-6 mt-sm-10 wow animated fadeInDown" data-wow-delay="700ms">
							<span class="category-icon">
								<img class="plombier" src="imgs/solutions/svgs/plombier.svg" alt="Plumbing">
							</span>
							<span class="text-center text-dark d-none d-sm-block mt-3 w-100">{{content.section1.tools.plomberie}}</span>
						</div>
						<div class="col-4 col-sm-2 px-3 mt-6 mt-sm-10 wow animated fadeInDown" data-wow-delay="800ms">
							<span class="category-icon">
								<img class="handling" src="imgs/solutions/svgs/handling.svg" alt="Handling">
							</span>
							<span class="text-center text-dark d-none d-sm-block mt-3 w-100">{{content.section1.tools.manutention}}</span>
						</div>
						<div class="col-4 col-sm-2 px-3 mt-6 mt-sm-10 wow animated fadeInDown" data-wow-delay="900ms">
							<span class="category-icon">
								<img class="assembly" src="imgs/solutions/svgs/assembly.svg" alt="Assembly">
							</span>
							<span class="text-center text-dark d-none d-sm-block mt-3 w-100">{{content.section1.tools.montage}}</span>
						</div>
						<div class="col-4 col-sm-2 px-3 mt-6 mt-sm-10 wow animated fadeInDown" data-wow-delay="1000ms">
							<span class="category-icon">
								<img class="handyman" src="imgs/solutions/svgs/handyman.svg" alt="Handyman">
							</span>
							<span class="text-center text-dark d-none d-sm-block mt-3 w-100">{{content.section1.tools.bricolage}}</span>
						</div>
						<div class="col-4 col-sm-2 px-3 mt-6 mt-sm-10 wow animated fadeInDown" data-wow-delay="1100ms">
							<span class="category-icon">
								<img class="locksmith" src="imgs/solutions/svgs/locksmith.svg" alt="Locksmith">
							</span>
							<span class="text-center text-dark d-none d-sm-block mt-3 w-100">{{content.section1.tools.serrurerie}}</span>
						</div>
						<div class="col-4 col-sm-2 px-3 mt-6 mt-sm-10 wow animated fadeInDown" data-wow-delay="1200ms">
							<span class="category-icon">
								<img class="light" src="imgs/solutions/svgs/light.svg" alt="Electricity">
							</span>
							<span class="text-center text-dark d-none d-sm-block mt-3 w-100">{{content.section1.tools.electricite}}</span>
						</div>
					</div>
					<div class="d-flex d-sm-none justify-content-center my-9">
						<a :href="'tel:'+content.header.phoneNumber" class="btn btn-primary wow animated fadeIn" data-wow-delay="1400ms"
						 target="_blank">
							<svg aria-hidden="true" class="u-icon">
								<use xlink:href="imgs/svgs/icons.svg#phone"></use>
							</svg>
							{{content.header.phoneNumber}}
						</a>
					</div>
					<!-- <div class="d-flex justify-content-center d-sm-none">
						<a href="#" class="btn btn-primary btn-circle-md d-flex align-items-center justify-content-center d-md-none mt-9">
							<svg aria-hidden="true" class="u-icon u_rotate90">
								<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
							</svg>
						</a>
					</div> -->
				</section>

				<section class="clients px-3 mt-6 mt-sm-18">
					<div class="container px-sm-18">
						<div class="slider bg-white shadow-sm pb-10 pt-3 pt-sm-5">
							<div class="row">
								<div class="col-12 px-sm-30">
									<p class="text-center m-3" v-html="content.section2.title"></p>
								</div>
							</div>
							<div class="slider_content row align-items-center my-7 mx-0 mx-sm-3">
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-akagreen.png" alt="Akagreen" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-at-home.png" alt="athome" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-big-mama.png" alt="Big Mama" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-cleany.png" alt="Cleany" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-erget.png" alt="Erget" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-euromedia.png" alt="Euromedia" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-faber-novel.png" alt="Faber Novel" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-faguo.png" alt="Faguo" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-food-cheri.png" alt="Food Cheri" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-lecab.png" alt="Le Cab" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-lion.png" alt="Lion" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-lucca.png" alt="Lucca" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-minutebuzz.png" alt="Minute Buzz" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-mobibam.png" alt="Mobibam" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-morning-coworking.png" alt="Morning Coworking" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-one-point.png" alt="One Point" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-oui-rent.png" alt="Oui Rent" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-rosbeef.png" alt="Rosbeef" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-sgpa.png" alt="SGPA" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-travelcar.png" alt="Travelcar" class="img-fluid mx-auto d-block">
								</div>
								<div class="col-12 col-sm-3 bg-white slick-slide">
									<img src="imgs/solutions/clients/client-zengularity.png" alt="Zengularity" class="img-fluid mx-auto d-block">
								</div>

							</div>
							<div class="d-flex justify-content-center pt-4">
								<a class="btn btn-primary" v-bind:href="content.section2.ctaLink" target="_blank">{{content.section2.cta}}</a>
							</div>
						</div>
						<div class="slider_navigation">
							<a class="btn btn-primary btn-circle-md back d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
							<a class="btn btn-primary btn-circle-md forward d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</div>
					</div>
				</section>

				<section class="s3 container mt-10 mt-sm-12 px-7 px-md-25">
					<h2 class="text-center font-weight-bold">{{content.section3.title}}</h2>
					<h3 class="text-center text-muted font-weight-normal mt-3 mt-sm-5">{{content.section3.subtitle}}</h3>
				</section>

				<section class="s4 container mt-8">
					<div class="slides_b row">
						<div class="col-md-4">
							<div class="cardImage d-flex align-items-center justify-content-center">
								<img src="imgs/solutions/svgs/command.svg" alt="Command Everything" class="img-fluid d-block">
							</div>
							<h4 class="text-center mt-9">{{content.section4.column1.title}}</h4>
							<p class="text-center text-muted mt-3">{{content.section4.column1.subtitle}}</p>
						</div>
						<div class="col-md-4">
							<div class="cardImage d-flex align-items-center justify-content-center">
								<img src="imgs/solutions/svgs/control.svg" alt="Control it in real time" class="img-fluid d-block">
							</div>
							<h4 class="text-center mt-9">{{content.section4.column2.title}}</h4>
							<p class="text-center text-muted mt-3">{{content.section4.column2.subtitle}}</p>
						</div>
						<div class="col-md-4">
							<div class="cardImage d-flex align-items-center justify-content-center">
								<img src="imgs/solutions/svgs/analyse.svg" alt="Analyse and Optimize" class="img-fluid d-block">
							</div>
							<h4 class="text-center mt-9">{{content.section4.column3.title}}</h4>
							<p class="text-center text-muted mt-3">{{content.section4.column3.subtitle}}</p>
						</div>
					</div>
				</section>

			</div>

			<div class="area-2 bg-white position-relative pb-70 pb-md-60">

				<div class="bg_illustrations position-absolute w-100 h-100">
					<img src="imgs/solutions/svgs/tools/stilleto.svg" class="position-absolute tool_stilleto">
					<img src="imgs/solutions/svgs/tools/plumber.svg" class="d-none d-md-block position-absolute tool_plumber">
					<img src="imgs/solutions/svgs/tools/pliers.svg" class="position-absolute tool_pliers">
				</div>

				<section class="testimony t01 px-3">
					<div class="container px-sm-30">
						<div class="slider bg-white shadow-sm py-9 py-md-12">
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">

										<img v-bind:src="content.section5.testimony1.img" v-bind:alt="content.section5.testimony1.author" class="d-block mx-auto">

										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section5.testimony1.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section5.testimony1.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section5.testimony1.title}}</h2>
										<p class="text-muted mt-3">{{content.section5.testimony1.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section5.testimony1.author}}</h3>
										<p class="text-center text-muted ">{{content.section5.testimony1.city}}</p>
									</div>
								</div>
							</div>
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">

										<img v-bind:src="content.section5.testimony2.img" v-bind:alt="content.section5.testimony2.author" class="d-block mx-auto">

										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section5.testimony2.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section5.testimony2.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section5.testimony2.title}}</h2>
										<p class="text-muted mt-3">{{content.section5.testimony2.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section5.testimony2.author}}</h3>
										<p class="text-center text-muted ">{{content.section5.testimony2.city}}</p>
									</div>
								</div>
							</div>
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">

										<img v-bind:src="content.section5.testimony3.img" v-bind:alt="content.section5.testimony3.author" class="d-block mx-auto">

										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section5.testimony3.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section5.testimony3.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section5.testimony3.title}}</h2>
										<p class="text-muted mt-3">{{content.section5.testimony3.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section5.testimony3.author}}</h3>
										<p class="text-center text-muted ">{{content.section5.testimony3.city}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="slider_navigation">
							<a class="btn btn-primary btn-circle-md back d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
							<a class="btn btn-primary btn-circle-md forward d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</div>
					</div>
				</section>

				<section class="s3 container mt-8 mt-md-12 mb-md-15">
					<h2 class="text-center font-weight-bold">{{content.section6.title}}</h2>
				</section>

				<section class="s4 container mt-8">
					<div class="row slides_d">
						<div class="col-md-4">
							<div class="cardImage2 bg-light-blue">
								<img class="jackToutFaire" src="imgs/solutions/svgs/jackToutFaire02.svg" alt="Jack à Tout Faire">
							</div>
							<h4 class="text-center mt-9">{{content.section7.column1.title}}</h4>
							<h5 class="text-center text-primary mt-3">{{content.section7.column1.subtitle}}</h5>
							<p class="text-center text-muted my-3">{{content.section7.column1.body}}</p>
						</div>
						<div class="col-md-4">
							<div class="cardImage2 bg-light-blue">
								<img class="" src="imgs/jackExpert.svg" alt="Jack Expert">
							</div>
							<h4 class="text-center mt-9">{{content.section7.column2.title}}</h4>
							<h5 class="text-center text-primary mt-3">{{content.section7.column2.subtitle}}</h5>
							<p class="text-center text-muted my-3">{{content.section7.column2.body}}</p>
						</div>
						<div class="col-md-4">
							<div class="cardImage2 bg-light-blue">
								<img class="" src="imgs/solutions/svgs/jackManager.svg" alt="Jack Manager">
							</div>
							<h4 class="text-center mt-9">{{content.section7.column3.title}}</h4>
							<h5 class="text-center text-primary mt-3">{{content.section7.column3.subtitle}}</h5>
							<p class="text-center text-muted my-3">{{content.section7.column3.body}}</p>
						</div>
					</div>
				</section>

				<section class="s3 container mt-8 mt-md-12 mb-md-15">
					<h2 class="text-center font-weight-bold text-primary">{{content.section8.title}}</h2>
					<h3 class="text-center text-muted font-weight-normal mt-3 mt-sm-5">{{content.section8.body}}</h3>
				</section>

				<section class="products container mt-8 mt-md-0">
					<div class="row slides_e">
						<div class="col-md-4 productA">
							<div class="d-flex align-items-center justify-content-center flex-wrap h-100">
								<a href="#" class="align-self-end d-flex align-items-center justify-content-center">
									<img src="imgs/solutions/svgs/jackAcademy.svg" alt="Jack Academy" class="mb-5 d-block d-md-none">
									<img src="imgs/solutions/svgs/jackAcademy_neg.svg" alt="Jack Academy" class="mb-5 d-none d-md-block img-fluid">
								</a>
								<p class="text-center align-self-start w-70">{{content.section9.column1.title}}</p>
							</div>
						</div>
						<div class="col-md-4 productB">
							<div class="d-flex align-items-center justify-content-center flex-wrap h-100">
								<a href="#" class="align-self-end d-flex align-items-center justify-content-center">
									<img src="imgs/solutions/svgs/delivJack.svg" alt="Deliv Jack" class="mb-5">
								</a>
								<p class="text-center align-self-start w-70">{{content.section9.column2.title}}</p>
							</div>
						</div>
						<div class="col-md-4 productC">
							<div class="d-flex align-items-center justify-content-center flex-wrap h-100">
								<a href="#" class="align-self-end d-flex align-items-center justify-content-center">
									<img src="imgs/solutions/svgs/jackApp02.svg" alt="Jack App" class="mb-5 d-block d-md-none">
									<img src="imgs/solutions/svgs/jackApp02_neg.svg" alt="Jack App" class="mb-5 d-none d-md-block img-fluid">
								</a>
								<p class="text-center align-self-start w-70">{{content.section9.column3.title}}</p>
							</div>
						</div>
					</div>
				</section>

			</div>

			<div class="area-3 bg-dark pb-60 pb-md-8">

				<section class="testimony t02 px-3">
					<div class="container px-sm-30">
						<div class="slider bg-white shadow-sm py-9 py-md-12">
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">
										<img v-bind:src="content.section10.testimony1.img" v-bind:alt="content.section10.testimony1.author" class="d-block mx-auto">
										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section10.testimony1.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section10.testimony1.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section10.testimony1.title}}</h2>
										<p class="text-muted mt-3">{{content.section10.testimony1.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section10.testimony1.author}}</h3>
										<p class="text-center text-muted ">{{content.section10.testimony1.city}}</p>
									</div>
								</div>
							</div>
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">
										<img v-bind:src="content.section10.testimony2.img" v-bind:alt="content.section10.testimony2.author" class="d-block mx-auto">
										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section10.testimony2.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section10.testimony2.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section10.testimony2.title}}</h2>
										<p class="text-muted mt-3">{{content.section10.testimony2.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section10.testimony2.author}}</h3>
										<p class="text-center text-muted ">{{content.section10.testimony2.city}}</p>
									</div>
								</div>
							</div>
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">
										<img v-bind:src="content.section10.testimony3.img" v-bind:alt="content.section10.testimony3.author" class="d-block mx-auto">
										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section10.testimony3.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section10.testimony3.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section10.testimony3.title}}</h2>
										<p class="text-muted mt-3">{{content.section10.testimony3.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section10.testimony3.author}}</h3>
										<p class="text-center text-muted ">{{content.section10.testimony3.city}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="slider_navigation">
							<a href="#" class="btn btn-primary btn-circle-md back d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
							<a href="#" class="btn btn-primary btn-circle-md forward d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</div>
					</div>
				</section>

				<section class="s3 container mt-8 mt-md-12 mb-md-15 px-sm-30">
					<h2 class="text-center font-weight-bold text-primary">{{content.section11.title}}</h2>
					<h3 class="text-center font-weight-normal text-white mt-3 mt-sm-5">{{content.section11.subtitle}}</h3>
				</section>

				<div class="jackmanager container mt-9 "></div>

				<section class="subscriptionPlans container pb-10">
					<div class="row slides_g">
						<div class="col-md-4 mb-8">
							<div class="card bg-white px-8 pb-10 pb-md-30">
								<h4 class="text-center pt-9">{{content.section12.column1.title}}</h4>
								<p class="text-center text-muted py-3">{{content.section12.column1.line1}}</p>
								<img src="imgs/solutions/svgs/jackClassic.svg" alt="Jack Classic" class="img-fluid mx-auto d-block my-5">
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column1.line2}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column1.line3}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 pb-md-15">{{content.section12.column1.line4}}</p>
								<a class="plusContent animated fadeIn btn btn-secondary btn-block px-0 mt-md-19" v-bind:href="content.section12.column1.ctaLink"
								 target="_blank">{{content.section12.column1.cta}}</a>
							</div>
							<div class="jackClassic02 d-none d-md-block"></div>
							<div class="expand expand_a">
								<button class="btn btn-circle bg-primary shadow d-flex d-md-none mx-auto align-items-center justify-content-center">
									<svg aria-hidden="true" class="u-icon oppened">
										<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
									</svg>
								</button>
								<a href="#" class="text-white d-block d-md-none w-100 text-center mt-1">{{content.section12.expand}}</a>
							</div>
						</div>
						<div class="col-md-4 mb-8">
							<div class="card bg-white px-8 pb-10 pb-md-30">
								<h4 class="text-center pt-9">{{content.section12.column2.title}}</h4>
								<p class="text-center text-muted py-3 border-bottom border-light">{{content.section12.column2.line1}}</p>
								<img src="imgs/solutions/svgs/jackCard.svg" alt="Jack Card" class="jackCard-standard img-fluid mx-auto d-none mt-2">
								<img src="imgs/solutions/svgs/jackCard-platinum.svg" alt="Jack Card" class="jackCard-platinum img-fluid mx-auto d-block mt-2">
								<img src="imgs/solutions/svgs/jackCard-black.svg" alt="Jack Card" class="jackCard-black img-fluid mx-auto d-none mt-2">
								<div class="plusContent animated fadeIn creditsCalculator">
									<div class="row">
										<div class="col-6 hour">
											<div class="number text-center text-dark font-weight-bold"><span class="ammount">{{content.section12.column2.creditsDefault}}</span>€</div>
										</div>
										<div class="col-6 credit">
											<div class="number text-center text-success font-weight-bold">+<span class="discount">{{content.section12.column2.discountDefault}}</span>€</div>
											<div class="legend text-center text-success">(<span class="discount-percentage">{{content.section12.column2.percentageDefault}}</span>%
												{{content.section12.column2.economy}})</div>
										</div>
									</div>
									<div class="rangeInput my-5">
										<div class="steps">
											<span class="step1">3%</span>
											<span class="step2">7%</span>
											<span class="step3">10%</span>
										</div>
										<input type="range" :min="content.section12.column2.range.min" :max="content.section12.column2.range.max"
										 :value="content.section12.column2.range.value" :step="content.section12.column2.range.step">
									</div>
								</div>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column2.line2}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column2.line3}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column2.line4}}</p>
								<a class="plusContent animated fadeIn btn btn-secondary btn-block px-0" v-bind:href="content.section12.column2.ctaLink"
								 target="_blank">{{content.section12.column2.cta}}</a>
							</div>
							<div class="jackCard02 d-none d-md-block"></div>
							<div class="expand expand_b">
								<button class="btn btn-circle bg-primary shadow d-flex d-md-none mx-auto align-items-center justify-content-center">
									<svg aria-hidden="true" class="u-icon oppened">
										<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
									</svg>
								</button>
								<a href="#" class="text-white d-block d-md-none w-100 text-center mt-1">{{content.section12.expand}}</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card bg-white px-4 px-sm-8 pb-6">
								<h4 class="text-center pt-9">{{content.section12.column3.title}}</h4>
								<p class="text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line1}}</p>
								<img src="imgs/solutions/svgs/jackSubscription.svg" alt="Jack Subscription" class="img-fluid mx-auto d-block my-5">
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line2}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line3}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line4}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line5}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line6}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line7}}</p>
								<p class="plusContent animated fadeIn text-center text-muted py-3 border-bottom border-light">{{content.section12.column3.line8}}</p>
								<a class="plusContent animated fadeIn btn btn-secondary btn-block px-0" v-bind:href="content.section12.column3.ctaLink"
								 target="_blank">{{content.section12.column3.cta}}</a>
							</div>
							<div class="expand expand_c">
								<button class="btn btn-circle bg-primary shadow d-flex d-md-none mx-auto align-items-center justify-content-center">
									<svg aria-hidden="true" class="u-icon oppened">
										<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
									</svg>
								</button>
								<a href="#" class="text-white d-block d-md-none w-100 text-center mt-1">{{content.section12.expand}}</a>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="area-4">
				<section class="testimony t03 px-3">
					<div class="container px-sm-30">
						<div class="slider bg-white shadow-sm py-9 py-md-12">
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">
										<img v-bind:src="content.section13.testimony1.img" v-bind:alt="content.section13.testimony1.author" class="d-block mx-auto">
										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section13.testimony1.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section13.testimony1.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section13.testimony1.title}}</h2>
										<p class="text-muted mt-3">{{content.section13.testimony1.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section13.testimony1.author}}</h3>
										<p class="text-center text-muted ">{{content.section13.testimony1.city}}</p>
									</div>
								</div>
							</div>
							<div>
								<div class="slider_content row align-items-center justify-content-center mx-0">
									<div class="testimony_author col-md-4">
										<img v-bind:src="content.section13.testimony2.img" v-bind:alt="content.section13.testimony2.author" class="d-block mx-auto">
										<h3 class="text-center text-primary font-weight-bold mt-5 d-none d-md-block">{{content.section13.testimony2.author}}</h3>
										<p class="text-center text-muted d-none d-md-block">{{content.section13.testimony2.city}}</p>
									</div>
									<div class="testimony_content col-md-6 mt-3 mt-sm-0 px-8 px-sm-0">
										<h2 class="font-weight-bold text-dark">{{content.section13.testimony2.title}}</h2>
										<p class="text-muted mt-3">{{content.section13.testimony2.body}}</p>
									</div>
									<div class="testimony_author col-md-4 d-md-none">
										<h3 class="text-center text-primary font-weight-bold mt-3">{{content.section13.testimony2.author}}</h3>
										<p class="text-center text-muted ">{{content.section13.testimony2.city}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="slider_navigation">
							<a class="btn btn-primary btn-circle-md back d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
							<a class="btn btn-primary btn-circle-md forward d-none d-md-flex align-items-center justify-content-center">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</div>
					</div>
				</section>

				<section class="s3 stillHere container mt-8 mt-md-12 pb-25 pb-md-50">
					<h2 class="text-center font-weight-bold pb-6">{{content.section14.title}}</h2>
					<div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-center align-items-sm-start">
						<a :href="content.section14.cta.link" class="btn btn-primary btn-lg px-14 mx-4 mt-4 mb-8" target="_blank">{{content.section14.cta.label}}</a>
					</div>
				</section>

			</div>

			<section class="footer bg-light pt-md-7">
				<div class="container px-md-20">
					<div class="row">
						<div class="col-md-4 d-none d-md-block">
							<h5 class="text-muted font-weight-bold text-uppercase mb-4">{{content.footer.column1.title}}</h5>
							<p class="text-muted text-justify mb-4">{{content.footer.column1.body}}</p>
							<a class="btn btn-xs bg-gray-dark text-white shadow-none" :href="content.footer.column1.ctaLink" target="_blank">{{content.footer.column1.cta}}</a>
						</div>
						<div class="col-md-3 offset-md-1 d-flex flex-column justify-content-center align-items-center d-md-block">
							<h5 class="text-muted font-weight-bold text-uppercase mb-8 mb-md-4 mt-8 mt-md-0">{{content.footer.column2.title}}</h5>
							<ul class="w-100 footer_pages">
								<li><a class="text-muted d-block pl-4 pl-md-0" :href="content.footer.column2.menu.item1.link">{{content.footer.column2.menu.item1.label}}</a></li>
								<li><a target="_blank" class="text-muted d-block pl-4 pl-md-0" :href="content.footer.column2.menu.item2.link">{{content.footer.column2.menu.item2.label}}</a></li>
								<li><a class="text-muted d-block pl-4 pl-md-0" :href="content.footer.column2.menu.item3.link">{{content.footer.column2.menu.item3.label}}</a></li>
							</ul>
						</div>
						<div class="col-md-4 d-flex flex-column justify-content-center align-items-center d-md-block">
							<h5 class="text-muted font-weight-bold text-uppercase mb-8 mb-md-4 mx-auto mx-md-0 mt-12 mt-md-0">{{content.footer.column3.title}}</h5>
							<address class="text-muted text-center text-md-left">
								<a class="text-muted" :href="content.footer.column3.mailto">{{content.footer.column3.body}}</a>
							</address>
							<a class="text-muted u_textUndecoration d-block mt-2" :href="'tel:'+content.header.phoneNumber">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#phone"></use>
								</svg>
								{{content.header.phoneNumber}}</a>
							<!-- <div class="d-flex d-sm-none justify-content-center my-9">
								<a :href="'tel:'+content.header.phoneNumber" class="btn btn-primary wow animated fadeInRight" data-wow-delay="250ms"
								 target="_blank">
									<svg aria-hidden="true" class="u-icon">
										<use xlink:href="imgs/svgs/icons.svg#phone"></use>
									</svg>
									{{content.header.phoneNumber}}
								</a>
							</div> -->
							<!-- <a :href="'tel:'+content.header.phoneNumber" class="d-none d-lg-block btn btn-phone wow animated fadeInRight"
							 data-wow-delay="250ms" target="_blank">
								<svg aria-hidden="true" class="u-icon">
									<use xlink:href="imgs/svgs/icons.svg#phone"></use>
								</svg> {{content.header.phoneNumber}}</a> -->
							<h5 class="text-muted font-weight-normal text-uppercase mt-8 mt-md-6 mx-auto mx-md-0">{{content.footer.column3.social.title}}</h5>
							<ul class="mt-3 mx-auto mx-md-0">
								<li class="float-left mr-2">
									<a :href="content.footer.column3.social.facebook" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
									 target="_blank">
										<svg aria-hidden="true" class="u-icon">
											<use xlink:href="imgs/svgs/icons.svg#facebook"></use>
										</svg>
									</a>
								</li>
								<li class="float-left mr-2">
									<a :href="content.footer.column3.social.twitter" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
									 target="_blank">
										<svg aria-hidden="true" class="u-icon">
											<use xlink:href="imgs/svgs/icons.svg#twitter"></use>
										</svg>
									</a>
								</li>
								<li class="float-left mr-2">
									<a :href="content.footer.column3.social.instagram" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
									 target="_blank">
										<svg aria-hidden="true" class="u-icon">
											<use xlink:href="imgs/svgs/icons.svg#instagram"></use>
										</svg>
									</a>
								</li>
								<li class="float-left mr-2">
									<a :href="content.footer.column3.social.linkedin" class="btn btn-circle btn-outline d-flex align-items-center justify-content-center"
									 target="_blank">
										<svg aria-hidden="true" class="u-icon">
											<use xlink:href="imgs/svgs/icons.svg#linkedin"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="d-flex flex-column justify-content-center flex-md-row align-items-md-center justify-content-md-between border-top border-gray-light mx-4 mx-md-0 mt-8 py-10 py-md-4">
						<div class="d-flex justify-content-md-start">
							<a href="#" class="logoFooter mx-auto mx-md-0">
								<img src="imgs/svgs/MerciJackGray.svg" class="img-fluid" alt="Merci Jack">
							</a>
						</div>
						<div class="d-flex justify-content-md-end mt-4 mt-md-0">
							<span class="text-gray-400 text-center text-md-right copyright px-10 px-md-0">{{content.footer.copyright}}</span>
						</div>
					</div>
				</div>
			</section>
		</div>

	</div>

	<script src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="./languages/french.js"></script>
	<script src="./languages/english.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: function () {
				return {
					content: French
				};
			},
			methods: {
				switchLanguage: function (language) {
					app.content = (language == "French") ? French : English;
				}
			}
		})

		var Carousels = {

			a_clients: function () {

				var slides = $('.clients .slider_content');
				var pagination_next = '.clients .slider_navigation .forward';
				var pagination_prev = '.clients .slider_navigation .back';

				slides.slick({
					prevArrow: pagination_prev,
					nextArrow: pagination_next,
					easing: 'easeOut',
					speed: 300,
					mobileFirst: true,
					autoplay: true,
					autoplaySpeed: 1500,
					responsive: [{
						breakpoint: 576,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 1,
							infinite: true,
						}
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: true,
							dots: true
						}
					}]
				});
			},

			b: function () {

				var slides = $('.slides_b');

				slides.slick({
					easing: 'easeInOutQuart',
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 576,
						settings: "unslick"
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							dots: true,
							arrows: false
						}
					}]
				});
			},

			c_testimony01: function () {

				var slides = $('.t01 .slider');
				var pagination_next = '.t01 .slider_navigation .forward';
				var pagination_prev = '.t01 .slider_navigation .back';

				slides.slick({
					prevArrow: pagination_prev,
					nextArrow: pagination_next,
					easing: 'easeInOutQuart',
					fade: true,
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 576,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: true,
							dots: false,
							arrows: true
						}
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							dots: true,
							arrows: false
						}
					}]
				});
			},

			d: function () {

				var slides = $('.slides_d');

				slides.slick({
					easing: 'easeInOutQuart',
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 576,
						settings: "unslick"
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							dots: true,
							arrows: false
						}
					}]
				});
			},

			e: function () {

				var slides = $('.slides_e');

				slides.slick({
					easing: 'easeInOutQuart',
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 576,
						settings: "unslick"
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							dots: true,
							arrows: false
						}
					}]
				});
			},

			f_testimony02: function () {

				var slides = $('.t02 .slider');
				var pagination_next = '.t02 .slider_navigation .forward';
				var pagination_prev = '.t02 .slider_navigation .back';

				slides.slick({
					prevArrow: pagination_prev,
					nextArrow: pagination_next,
					easing: 'easeInOutQuart',
					fade: true,
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 576,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: true,
							dots: false,
							arrows: true
						}
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							dots: true,
							arrows: false
						}
					}]
				});
			},

			g: function () {

				var slides = $('.slides_g');

				slides.slick({
					easing: 'easeInOutQuart',
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 300,
						settings: {
							infinite: false,
							dots: true,
							arrows: false,
						}
					}, {
						breakpoint: 576,
						settings: "unslick"
					}]
				});

				slides.on("touch TouchEvent TouchList", function (event) {
					event.stopPropagation();
				});

			},

			h_testimony03: function () {

				var slides = $('.t03 .slider');
				var pagination_next = '.t03 .slider_navigation .forward';
				var pagination_prev = '.t03 .slider_navigation .back';

				slides.slick({
					prevArrow: pagination_prev,
					nextArrow: pagination_next,
					easing: 'easeInOutQuart',
					fade: true,
					speed: 200,
					mobileFirst: true,
					responsive: [{
						breakpoint: 576,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: true,
							dots: false,
							arrows: true
						}
					}, {
						breakpoint: 300,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							dots: true,
							arrows: false
						}
					}]
				});
			}
		}

		var Menu = {

			toggler: $('.menu_toggler'),
			menu: $('.sidePanel'),
			page: $('.page'),
			header: $('.header'),

			expandCollapse: function () {
				Menu.toggler.on("click", function () {
					event.preventDefault();

					if (Menu.menu.hasClass('expanded')) {
						Menu.page.removeClass('collapsed');
						Menu.menu.removeClass('expanded');
						$(this).removeClass('menu_close');
						setTimeout(function () {
							Menu.header.removeClass('active');
						}, 300);
					} else {
						Menu.header.addClass('active');
						Menu.page.addClass('collapsed');
						$(this).addClass('menu_close');
						setTimeout(function () {
							Menu.menu.addClass('expanded');
						}, 200);
					}
				});
			}

		}

		var SubscriptionPlans = {

			cards: $('.subscriptionPlans .card'),
			jackCard_standard: $('.subscriptionPlans .card .jackCard-standard'),
			jackCard_black: $('.subscriptionPlans .card .jackCard-black'),
			jackCard_platinum: $('.subscriptionPlans .card .jackCard-platinum'),
			plusContent: $('.subscriptionPlans .card .plusContent'),
			btSwitch: $('.subscriptionPlans .expand'),
			btLabel: $('.subscriptionPlans .expand a'),
			slides: $('.slides_g'),
			rangeInput: $('.rangeInput input'),
			ammount: $('.creditsCalculator .ammount'),
			discount: $('.creditsCalculator .discount'),
			discountPercentage: $('.creditsCalculator .discount-percentage'),

			collapseAll: function () {
				SubscriptionPlans.cards.removeClass('active');
				SubscriptionPlans.btSwitch.removeClass('open');
				SubscriptionPlans.btLabel.text('ouvrir');
			},

			expandAll: function () {
				SubscriptionPlans.cards.addClass('active');
				SubscriptionPlans.btSwitch.addClass('open');
				SubscriptionPlans.btLabel.text('fermer');
			},

			expandCollapse: function () {

				SubscriptionPlans.btSwitch.on("click", function () {

					event.preventDefault();

					if (SubscriptionPlans.cards.hasClass('active')) {
						SubscriptionPlans.collapseAll();
					} else {
						SubscriptionPlans.expandAll();
					}

				});
			},

			discountCalculator: function () {
				SubscriptionPlans.rangeInput.on('input change', function () {
					var newDiscount;
					var newDiscountPercentage;
					var jackCard;
					var maxValue = +$(this).attr('max');
					var minValue = +$(this).attr('min');
					var actualValue = +$(this).val();
					var valueRatio = 100 / ((maxValue + minValue) / actualValue);
					switch (true) {
						case actualValue <= 650:
							newDiscount = actualValue * 0.03;
							newDiscountPercentage = 3;
							jackCard = SubscriptionPlans.jackCard_standard;
							break;
						case actualValue > 650 && actualValue <= 1200:
							newDiscount = actualValue * 0.07;
							newDiscountPercentage = 7;
							jackCard = SubscriptionPlans.jackCard_platinum;
							break;
						case actualValue > 1200:
							newDiscount = actualValue * 0.1;
							newDiscountPercentage = 10;
							jackCard = SubscriptionPlans.jackCard_black;
							break;
					}
					SubscriptionPlans.ammount.text(actualValue);
					SubscriptionPlans.discount.text(newDiscount.toFixed(0));
					SubscriptionPlans.discountPercentage.text(newDiscountPercentage);
					SubscriptionPlans.hideAllCards();
					SubscriptionPlans.showCard(jackCard);
					// console.log(actualValue+', '+minValue+', '+maxValue+', '+valueRatio);
					$(this).css({
						background: '-webkit-linear-gradient(left, #f39a1b' + valueRatio + '%, #dee2e6 ' + (valueRatio + 1) + '%)'
					}).css({
						background: '-moz-linear-gradient(left, #f39a1b ' + valueRatio + '%, #dee2e6 ' + (valueRatio + 1) + '%)'
					}).css({
						background: 'linear-gradient(to right, #f39a1b ' + valueRatio + '%, #dee2e6 ' + (valueRatio + 1) + '%)'
					});
				});
			},

			hideAllCards: function () {
				SubscriptionPlans.jackCard_standard.removeClass('d-block').addClass('d-none');
				SubscriptionPlans.jackCard_black.removeClass('d-block').addClass('d-none');
				SubscriptionPlans.jackCard_platinum.removeClass('d-block').addClass('d-none');
			},

			showCard: function (card) {
				card.addClass('d-block');
			}
		}

		$(document).ready(function () {
			Carousels.a_clients();
			Carousels.b();
			Carousels.c_testimony01();
			Carousels.d();
			Carousels.e();
			Carousels.f_testimony02();
			// Carousels.g();
			Carousels.h_testimony03();
			SubscriptionPlans.expandCollapse();
			SubscriptionPlans.discountCalculator();
			Menu.expandCollapse();
		});
	</script>
</body>

</html>